<div class="post_dmcBnr <%= position %>">
  <a href="<%= url %>" id="<%= eleId %>" class="post_dmcBnr-action">
    <picture class="post_dmcBnr-imgBox">
      <source media="(min-width: 768px)" srcset="<%= asset_pack_path('media/images/banner/dmc/dmc-pc.png') %>" width="770" height="280">
      <img src="<%= asset_pack_path('media/images/banner/dmc/dmc-sp.png') %>" alt="<%= I18n.t("travel_link.text") %>">
    </picture>
  </a>
</div>
