<div class="result_icons">

  <div class="row">
    <div class="col-xs-12">

      <div class="icon-title"><%= t "covid.result.icon.title" %></div>
      <div class="icon-lists">
        <div class="icon-item">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/cashless.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.cashless" %></div>
        </div>
        <div class="icon-item">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/distance.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.distance" %></div>
        </div>
        <div class="icon-item">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/gargle.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.gargle" %></div>
        </div>
        <div class="icon-item">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/hand.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.hand" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/mask.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.mask" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/sanitizer.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.sanitizer" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/sheet.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.sheet" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/spray.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.spray" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/temperature.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.temperature" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/thermograph.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.thermograph" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/tray.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.tray" %></div>
        </div>
        <div class="icon-item icon-lists-hide">
          <div class="item-icon"><img src=<%= asset_pack_path("media/images/covid/icons/vent.svg")%> ></div>
          <div class="item-text"><%= t "covid.result.icon.vent" %></div>
        </div>
      </div>

      <div style="text-align:center;">
        <button onclick="showMore(this)" id="show-more-btn" class="show-more-btn"><%= t("covid.result.show_more_html") %></button>
      </div>

    </div>

  </div>
</div>




















<!--<div class="result_icons">-->

<!--  <div class="row">-->
<!--    <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/cashless.svg")%> ><p><%#= t "covid.result.icon.cashless" %></p></div>-->
<!--    <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/distance.svg")%> ><p><%#= t "covid.result.icon.distance" %></p></div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/gargle.svg")%> ><p><%#= t "covid.result.icon.gargle" %></p></div>-->
<!--    <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/hand.svg")%> ><p><%#= t "covid.result.icon.hand" %></p></div>-->
<!--  </div>-->
<!--  <div id="icon_hide" class="icon-hide">-->
<!--    <div class="row">-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/mask.svg")%> ><p><%#= t "covid.result.icon.mask" %></p></div>-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/sanitizer.svg")%> ><p><%#= t "covid.result.icon.sanitizer" %></p></div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/sheet.svg")%> ><p><%#= t "covid.result.icon.sheet" %></p></div>-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/spray.svg")%> ><p><%#= t "covid.result.icon.spray" %></p></div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/temperature.svg")%> ><p><%#= t "covid.result.icon.temperature" %></p></div>-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/thermograph.svg")%> ><p><%#= t "covid.result.icon.thermograph" %></p></div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/tray.svg")%> ><p><%#= t "covid.result.icon.tray" %></p></div>-->
<!--      <div class="col-xs-6"><img src=<%#= asset_pack_path("media/images/covid/icons/vent.svg")%> ><p><%#= t "covid.result.icon.vent" %></p></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="text-align:center;">-->
<!--    <button onclick="showMore(this)" id="show-more-btn" class="show-more-btn"><%#= t("covid.result.show_more_html") %></button>-->
<!--  </div>-->

<!--</div>-->

