<div id="tab_shops" class="hide">
<h3><%= t "covid.details.menu.shops" %> </h3>
<p class="sub"><%= t "covid.details.descs.shops" %></p>
    <div class="info_highlight">
                <%  if !browser.device.mobile? %>
                    <div class="info_highlight_el">
                        <img src="<%= asset_pack_path('media/images/covid/icons/distance.png') %>" />
                            <div><h4><%= t "covid.safety.info.distance.headline" %></h4>
                            <p><%= t "covid.safety.info.distance.sub" %></p>
                        </div>
                    </div>
                    <div class="info_highlight_el">
                        <img src="<%= asset_pack_path('media/images/covid/icons/sheet.png') %>" />
                        <div><h4><%= t "covid.safety.info.sheets.headline" %></h4>
                        <p><%= t "covid.safety.info.sheets.sub" %></p>
                        </div>
                    </div>
                    <div class="info_highlight_el">
                        <img src="<%= asset_pack_path('media/images/covid/mask_ico.png') %>" />
                        <div><h4><%= t "covid.safety.info.mask.headline" %></h4>
                        <p><%= t "covid.safety.info.mask.sub" %></p>
                        </div>
                    </div>
                <% else %>
                <div class="info_highlight_el">
                <h4><%= t "covid.safety.info.distance.headline" %></h4>
                <img src="<%= asset_pack_path('media/images/covid/icons/distance.png') %>" />
                    <p><%= t "covid.safety.info.distance.sub" %></p>
                </div>
                <div class="info_highlight_el">
                <h4><%= t "covid.safety.info.sheets.headline" %></h4>
                    <img src="<%= asset_pack_path('media/images/covid/icons/sheet.png') %>" />
                    
                    <p><%= t "covid.safety.info.sheets.sub" %></p>
                    
                </div>
                <div class="info_highlight_el">
                    <h4><%= t "covid.safety.info.mask.headline" %></h4>
                    <img src="<%= asset_pack_path('media/images/covid/mask_ico.png') %>" />
                    <p><%= t "covid.safety.info.mask.sub" %></p>
                </div>
                <% end %>     
                </div>     
                <p class="more_info_text">
                <%= I18n.t "covid.more_info" %>
                </p> 
                <div class="more-btn text-center">
                    <a href="<%= traveling_safely_in_japan_detail_path('shops') %>#c_menu" class="btn btn-default btn-lg">
                    <%= I18n.t "more_details" %>
                    </a>
                </div>
  
</div>