<div class="row article-to-pick" id="article-<%= article.id %>" data-article-id="<%= article.id %>" data-article-image="image" data-article-title="<%= article.title %>">
  <div class="col-sm-3">
    Image
  </div>
  <div class="col-sm-8">
    <h5>
      <%= article.title %>
    </h5>
    <p>
      <%= article.excerpt %>
    </p>
  </div>
</div>
