<%= render 'page_title' %>

<div class="row">
  <div class="x_panel">
    <div class="x_title">
      
      <h2><% if action_name == 'coupon_show' %>
      Coupons
      <% end %> 
      <% if action_name == 'landingpage_show' %>
      Landingpage
      <% end %><%= "filter by : #{params[:query]}" if params[:query] %></h2>
      <%= link_to new_admin_article_path, class: "pull-right btn btn-default" do %>
      <i class="icon-note"></i> Add new
      <% end %>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <br/>
      <br/>
    </div>
    <div class="x_content">
      <div class="table-responsive">
      
        <table class="table table-striped jambo_table">
          <thead>
            <tr class="headings">
              <th class="column-title" >
                <select id="choose-action">
                  <option value="1" selected>action</option>
                  <option value="2"> bulk edit </option>
                </select>
              </th>
              <th class="column-title" style="width: 5%;">ID</th>
              <th class="column-title">Title</th>
              
              <th class="column-title clickable-header" attr-href=<%=url_for params.merge(sort:'date',asc:@asc=='true' && @sort=='date' ? false : true) %>>Created</th>
              <th class="column-title">updated</th>
              <th class="column-title">Category</th>
              <th class="column-title">Area</th>
              <th class="column-title">Tag Group</th>
              <th class="column-title">Tags</th>
              <th class="column-title" colspan="3" style="width: 10%;">Actions</th>
         
              <th class="column-title clickable-header" attr-href=<%=url_for params.merge(sort:'status',asc:@asc=='true' && @sort=='status' ? false : true) %> style="width: 10%;">status</th>
              <th class="column-title" style="width: 10%;">edit</th>
            </tr>
          </thead>

          <tbody>
            <% @articles.each do |article| %>
            <tr class="pointer art<%= article.id %>" data-url =<%= quick_edit_admin_articles_url(article.id) %> >
              <%= render partial: 'artview', locals: { article: article} %>
            </tr>
            <tr class="pointer qedit dispnone qedit<%= article.id %>" >
   

            </tr>
            <% end %>
          </tbody>
        </table>
        
        <div class="paginate">
          <%= paginate @articles, views_prefix: 'admin' %>
          
        </div>

      </div>
    </div>
  </div>
  <script type="text/javascript">
  var tags = []
  $("#choose-action").on("change",function(){
    $("#bulk-edit").submit();
  });
  $("#bulk-edit").on("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });
  $(".table").on("click",".quick-edit-save",function (evt){
    evt.preventDefault();
    var id = $(this).attr("data-attr")
    var link = $(this).attr("href")
    var parent = $(".editrow"+id);
    var patch = { 
        id: parent.find(".sel-id").val(), 
        category_id: parent.find(".sel-cat").val(),
        area_id: parent.find(".sel-area").val(),
        all_tags: parent.find(".hidden-all-tags").val(),
        article_groups: parent.find(".select_grouping").val(),
        sort: "<%= @sort %>",
        asc: "<%= @asc %>",
        page: "<%=  @page %>",
      }
    $that = $(this);
    $that.closest(".qedit").hide()
    $.ajax({
      url: link,
      method: "PATCH",
      data: patch
    });
  });
  $(".open-quickedit").on("click",function (){
    $(this).next(".qedit").toggle()
    var url = $(this).attr("data-url")
    $.ajax({
      url: url
    }).done(function (data) {
      ReactRailsUJS.mountComponents()
    }.bind(this));
  })
  $(".table").on("click",".change-state",function(evt){
    $(this).closest(".open-quickedit").next(".qedit").hide();
  });
  $(".table").on("change",".change-state",function(evt){
    evt.preventDefault();
     $(this).closest(".open-quickedit").next(".qedit").hide()
    var lang = $(this).attr("data-lang");
    var status = $(this).val();
    var id = $(this).attr("data-id");
    var link = $(this).attr("data-url");
  
    var patch = {
      lang: lang,
      status: status,
      id: id
    }
    $.ajax({
      url: link,
      method: "PATCH",
      data: patch
    });
  });
  /*$(".filter-area").on("change",function(evt){
    
    var link = "<%=url_for params.merge(cat_filter:"+$(this).val()+") %>"
    console.log(link)
    //window.location = link
  })*/
  </script>
