  <div class="excellence_abouts">
    <div class="excellence_abouts-inner container">
      <section class="excellence_abouts-desc">
        <h2 class="excellence_abouts-title"><%= t('excellence.abouts.title') %></h2>
        <p class="excellence_abouts-text"><%= t("excellence.abouts.desc_html") %></p>
      </section>
      <div class="excellence_abouts-map">
        <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/map-#{I18n.locale.to_s}.png") %>" alt="<%= t('excellence.abouts.title') %>">
      </div>
    </div>
  </div><!-- /.excellence_abouts -->

  <div class="excellence_access">
    <div class="excellence_access-inner container">
      <section class="excellence_access-desc">
        <h2 class="excellence_access-title"><%= t('excellence.access.title') %></h2>
        <p class="excellence_access-text"><%= t("excellence.access.desc_html") %></p>
      </section>
      <div class="excellence_access-root">
        <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/root-#{I18n.locale.to_s}.svg") %>" alt="<%= t('excellence.access.root') %>">
      </div>
    </div>
  </div><!-- /.excellence_access -->

  <section class="excellence_attractions container">
    <h2 class="excellence_attractions-title"><%= t('excellence.attractions.title') %></h2>
    <p class="excellence_attractions-text"><%= t('excellence.attractions.desc_html') %></p>
    <div class="excellence_attraction">
      <div class="excellence_attraction-circle"><div class="excellence_attraction-image onsen"></div></div>
      <div class="excellence_attraction-desc">
        <h3 class="excellence_attraction-title"><%= t('excellence.attractions.section1.title') %></h3>
        <p class="excellence_attraction-text"><%= t("excellence.attractions.section1.desc_html") %></p>
      </div>
    </div>
    <div class="excellence_attraction">
      <div class="excellence_attraction-circle"><div class="excellence_attraction-image nature"></div></div>
      <div class="excellence_attraction-desc">
        <h3 class="excellence_attraction-title"><%= t('excellence.attractions.section2.title') %></h3>
        <p class="excellence_attraction-text"><%= t("excellence.attractions.section2.desc_html") %></p>
      </div>
    </div>
    <div class="excellence_attraction">
      <div class="excellence_attraction-circle"><div class="excellence_attraction-image food"></div></div>
      <div class="excellence_attraction-desc">
        <h3 class="excellence_attraction-title"><%= t('excellence.attractions.section3.title') %></h3>
        <p class="excellence_attraction-text"><%= t("excellence.attractions.section3.desc_html") %></p>
      </div>
    </div>
  </section><!-- /.excellence_attractions -->

  <section class="excellence_stay container">
    <h2 class="excellence_stay-title"><%= t('excellence.stay.title') %></h2>
    <p class="excellence_stay-text"><%= t("excellence.stay.desc_html") %></p>
    <div class="excellence_articles">
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/001.jpg") %>" alt="<%= t('excellence.stay.content1.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content1.area') %></span><a href="<%= t('excellence.stay.content1.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content1.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content1.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content1.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content1.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article1 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/002.jpg") %>" alt="<%= t('excellence.stay.content2.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content2.area') %></span><a href="<%= t('excellence.stay.content2.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content2.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content2.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content2.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content2.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article2 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/003.jpg") %>" alt="<%= t('excellence.stay.content3.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content3.area') %></span><a href="<%= t('excellence.stay.content3.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content3.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content3.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content3.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article3 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/004.jpg") %>" alt="<%= t('excellence.stay.content4.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content4.area') %></span><a href="<%= t('excellence.stay.content4.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content4.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content4.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content4.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content4.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article4 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/005.jpg") %>" alt="<%= t('excellence.stay.content5.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content5.area') %></span><a href="<%= t('excellence.stay.content5.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content5.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content5.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content5.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content5.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article5 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/006.jpg") %>" alt="<%= t('excellence.stay.content6.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content6.area') %></span><a href="<%= t('excellence.stay.content6.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content6.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content6.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content6.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content6.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article6 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/007.jpg") %>" alt="<%= t('excellence.stay.content7.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content7.area') %></span><a href="<%= t('excellence.stay.content7.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content7.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content7.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content7.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content7.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article7 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/008.jpg") %>" alt="<%= t('excellence.stay.content8.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content8.area') %></span><a href="<%= t('excellence.stay.content8.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content8.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content8.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content8.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article8 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/009.jpg") %>" alt="<%= t('excellence.stay.content9.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content9.area') %></span><a href="<%= t('excellence.stay.content9.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content9.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content9.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content9.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article9 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/070.jpg") %>" alt="<%= t('excellence.stay.content70.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content70.area') %></span><a href="<%= t('excellence.stay.content70.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content70.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content70.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content70.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article70 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/010.jpg") %>" alt="<%= t('excellence.stay.content10.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content10.area') %></span><a href="<%= t('excellence.stay.content10.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content10.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content10.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content10.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article10 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/011.jpg") %>" alt="<%= t('excellence.stay.content11.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content11.area') %></span><a href="<%= t('excellence.stay.content11.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content11.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content11.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content11.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content11.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article11 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/012.jpg") %>" alt="<%= t('excellence.stay.content12.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content12.area') %></span><a href="<%= t('excellence.stay.content12.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content12.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content12.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content12.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content12.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article12 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/013.jpg") %>" alt="<%= t('excellence.stay.content13.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content13.area') %></span><a href="<%= t('excellence.stay.content13.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content13.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content13.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content13.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article13 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/015.jpg") %>" alt="<%= t('excellence.stay.content15.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content15.area') %></span><a href="<%= t('excellence.stay.content15.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content15.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content15.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content15.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content15.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article15 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/016.jpg") %>" alt="<%= t('excellence.stay.content16.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content16.area') %></span><a href="<%= t('excellence.stay.content16.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content16.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content16.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content16.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article16 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/017.jpg") %>" alt="<%= t('excellence.stay.content17.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content17.area') %></span><a href="<%= t('excellence.stay.content17.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content17.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content17.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content17.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content17.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article17 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/018.jpg") %>" alt="<%= t('excellence.stay.content18.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content18.area') %></span><a href="<%= t('excellence.stay.content18.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content18.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content18.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content18.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article18 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/019.jpg") %>" alt="<%= t('excellence.stay.content19.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content19.area') %></span><a href="<%= t('excellence.stay.content19.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content19.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content19.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content19.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article19 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/020.jpg") %>" alt="<%= t('excellence.stay.content20.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content20.area') %></span><a href="<%= t('excellence.stay.content20.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content20.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content20.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content20.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article20 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/021.jpg") %>" alt="<%= t('excellence.stay.content21.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content21.area') %></span><a href="<%= t('excellence.stay.content21.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content21.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content21.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content21.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article21 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/022.jpg") %>" alt="<%= t('excellence.stay.content22.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content22.area') %></span><a href="<%= t('excellence.stay.content22.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content22.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content22.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content22.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content22.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article22 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/071.jpg") %>" alt="<%= t('excellence.stay.content71.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content71.area') %></span><a href="<%= t('excellence.stay.content71.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content71.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content71.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content71.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article71 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/023.jpg") %>" alt="<%= t('excellence.stay.content23.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content23.area') %></span><a href="<%= t('excellence.stay.content23.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content23.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content23.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content23.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article23 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/024.jpg") %>" alt="<%= t('excellence.stay.content24.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content24.area') %></span><a href="<%= t('excellence.stay.content24.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content24.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content24.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content24.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content24.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article24 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/025.jpg") %>" alt="<%= t('excellence.stay.content25.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content25.area') %></span><a href="<%= t('excellence.stay.content25.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content25.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content25.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content25.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article25 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/026.jpg") %>" alt="<%= t('excellence.stay.content26.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content26.area') %></span><a href="<%= t('excellence.stay.content26.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content26.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content26.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content26.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content26.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article26 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/027.jpg") %>" alt="<%= t('excellence.stay.content27.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content27.area') %></span><a href="<%= t('excellence.stay.content27.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content27.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content27.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content27.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content27.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article27 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/072.jpg") %>" alt="<%= t('excellence.stay.content72.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content72.area') %></span><a href="<%= t('excellence.stay.content72.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content72.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content72.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content72.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content72.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article72 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/028.jpg") %>" alt="<%= t('excellence.stay.content28.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content28.area') %></span><a href="<%= t('excellence.stay.content28.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content28.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content28.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content28.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content28.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article28 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/029.jpg") %>" alt="<%= t('excellence.stay.content29.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content29.area') %></span><a href="<%= t('excellence.stay.content29.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content29.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content29.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content29.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content29.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article29 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/030.jpg") %>" alt="<%= t('excellence.stay.content30.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content30.area') %></span><a href="<%= t('excellence.stay.content30.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content30.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content30.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content30.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content30.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article30 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/031.jpg") %>" alt="<%= t('excellence.stay.content31.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content31.area') %></span><a href="<%= t('excellence.stay.content31.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content31.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content31.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content31.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content31.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article31 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/032.jpg") %>" alt="<%= t('excellence.stay.content32.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content32.area') %></span><a href="<%= t('excellence.stay.content32.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content32.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content32.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content32.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content32.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article32 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/034.jpg") %>" alt="<%= t('excellence.stay.content34.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content34.area') %></span><a href="<%= t('excellence.stay.content34.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content34.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content34.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content34.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article34 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/035.jpg") %>" alt="<%= t('excellence.stay.content35.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content35.area') %></span><a href="<%= t('excellence.stay.content35.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content35.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content35.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content35.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content35.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article35 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/036.jpg") %>" alt="<%= t('excellence.stay.content36.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content36.area') %></span><a href="<%= t('excellence.stay.content36.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content36.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content36.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content36.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content36.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article36 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/037.jpg") %>" alt="<%= t('excellence.stay.content37.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content37.area') %></span><a href="<%= t('excellence.stay.content37.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content37.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content37.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content37.link1') %>" target="_blank" class="btn-spacing btn book-with btn-normal"><%= t('excellence.stay.label.booking') %></a></li>
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content37.link2') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article37 -->
      <article class="excellence_article">
        <div class="excellence_article-imgBox">
          <img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/038.jpg") %>" alt="<%= t('excellence.stay.content38.name') %>" class="excellence_article-image">
        </div>
        <div class="excellence_article-details">
          <div class="excellence_article-sub"><span class="excellence_article-area"><%= t('excellence.stay.content38.area') %></span><a href="<%= t('excellence.stay.content38.creditLink') %>" target="_blank" class="excellence_article-credit"><%= t('excellence.stay.content38.credit') %></a></div>
          <h3 class="excellence_article-name"><%= t('excellence.stay.content38.name') %></h3>
          <ul class="excellence_article-actions">
            <li class="excellence_article-action"><a href="<%= t('excellence.stay.content38.link1') %>" target="_blank" class="btn-spacing btn btn-3d-orange btn-normal"><%= t('excellence.stay.label.agoda') %></a></li>
          </ul>
        </div>
      </article><!-- /.excellence_article38 -->
    </div>
  </section><!-- /.excellence_stay -->

  <div class="excellence_visit container">
    <p class="excellence_visit-text"><%= t('excellence.visitGunma.desc_html') %></p>
    <div class="excellence_visit-content">
      <a href="<%= t('excellence.visitGunma.link') %>" target="_blank" class="excellence_visit-action hover-opacity banner"><img src="<%= asset_pack_path("media/images/area/feature/prefecture/gunma_excellence/bnr-kusatsun-onsen.jpg") %>" alt="Visit Gunma"></a>
    </div>
  </div><!-- /.excellence_visit -->
