
<div class="top_featureArea">
  <div class="top_featureArea-item">
    <%= link_to area_hokkaido_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-hokkaido" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_hokkaido.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.hokkaido"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.hokkaido") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_tohoku_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-tohoku" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_tohoku.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.tohoku"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.tohoku") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_kanto_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-kanto" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_kanto.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.kanto"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.kanto") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_chubu_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-chubu" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_chubu.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.chubu"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.chubu") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_kansai_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-kansai" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_kansai.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.kansai"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.kansai") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_chugoku_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-chugoku" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_chugoku.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.chugoku"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.chugoku") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_shikoku_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-shikoku" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_shikoku.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.shikoku"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.shikoku") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_kyushu_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-kyushu" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_kyushu.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.kyushu"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.kyushu") %></p>
    <% end %>
  </div>
  <div class="top_featureArea-item">
    <%= link_to area_okinawa_feature_path(I18n.locale == :en ? nil : I18n.locale), id: "#{page}_featureArea-okinawa" do %>
      <%= image_tag(asset_pack_path("media/images/index/area/faeture_okinawa.png"), class: "top_featureArea-image", alt: I18n.t("area.top_link.okinawa"), :size => "353x150") %>
      <p class="top_featureArea-label"><%= I18n.t("area.top_link.okinawa") %></p>
    <% end %>
  </div>
</div>
