<div class="js-headBanner" id="js-headBanner">
  <button tyep="button" class="js-headBanner_close" id="js-headBannerClose"></button>
  <div class="js-headBanner_contents">
    <p><%= t("fixedhead.newsletter.tagline") %></p>
    <div class="js-headBanner_contents-action">
      <button type="button" class="js-headBanner_contents-cta" id="js-headBannerModal"><%= t("fixedhead.newsletter.button_label") %></button>
    </div>
  </div>
</div>

<div class="js-modal_wrap" id="js-modalWrap" role="dialog" tabindex="-1">
  <div class="js-modal_overlay" id="js-modalBG"></div>
  <div id="js-modal_newsletter" class="js-modal_inner" role="document">
    <div class="js-modal_contents newsletter">
      <button type="button" class="js-modal_close" id="js-modalClose" aria-label="Close"></button>
      <div class="js-modal_contents-inner">
        <h2 class="js-modal_contents-title"><%= t("modalarea.newsletter.title") %></h2>
        <p class="js-modal_contents-desc"><%= t("modalarea.newsletter.desc_html") %></p>

        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup" class="js-modal_contents-form">
          <form action="https://tsunagujapan.us14.list-manage.com/subscribe/post?u=6da35f6f4dd68a271d78de7bc&amp;id=1e3d33644b&amp;f_id=00ee96e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="indicates-required"><span class="asterisk">*</span> <%= t("modalarea.newsletter.required") %></div>
              <div class="mc-field-group">
                <label for="mce-EMAIL"><%= t("modalarea.newsletter.form_label") %>  <span class="asterisk">*</span></label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="" required>
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6da35f6f4dd68a271d78de7bc_1e3d33644b" tabindex="-1" value=""></div>
              <div class="clear js-modal_contents-action"><input type="submit" value="<%= t("modalarea.newsletter.button_label") %>" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

      </div>
    </div><!-- /.js-modal_contents -->
  </div><!-- /.js-modal_inner -->
</div><!-- /.js-modal_wrap -->

<script>
  // Modal Settings
  const bodyEle = document.body;
  const htmlEle = document.documentElement;
  const modalWindow = document.getElementById('js-modalWrap');
  const modalCloseBtn = document.getElementById('js-modalClose');
  const modalBG = document.getElementById('js-modalBG');

  // Head Banner Setting
  const headBanner = document.getElementById('js-headBanner');
  const headBannerCloseBtn = document.getElementById('js-headBannerClose');
  const headBannerModalOpen = document.getElementById('js-headBannerModal');

  // Modal Display Time
  const dispTime = 10000; // 10s

  // Limit Date Setting
  const limitDate = 1; //日数を設定
  let currentDate = new Date();
  currentDate.setTime(currentDate.getTime() + (limitDate *24*60*60*1000)); //1日＝1000ms * 60s * 60min * 24h

  // テスト用Cookie破棄設定 ○分後
  //currentDate.setTime(currentDate.getTime() + (limitDate * 60 * 1000));

  const expireDate = currentDate.toGMTString();
  // console.log(expireDate);

  // Modal Open
  function modalOpen() {
    bodyEle.classList.add('is-modalOpen');
    htmlEle.classList.add('is-modalOpen');
  }

  // Modal Close
  function modalClose() {
    bodyEle.classList.remove('is-modalOpen');
    htmlEle.classList.remove('is-modalOpen');
  }

  // Head Area Banner Open
  function headBannerOpen() {
    headBanner.classList.add('active');
  }

  // Head Area Banner Close
  function headBannerClose() {
    headBanner.classList.remove('active');
  }

  // デバイス判定（画面幅で判定）
  const mql = window.matchMedia('(max-width:768px)');

  function mqlChange(e) {
    if (e.matches) {
      // SP
      if (document.cookie.indexOf('tj_visited=first') === -1) {
        document.cookie = 'tj_visited=first; path=/' + ';expires=' + expireDate;
        headBannerOpen();
      } else {
        window.addEventListener('load', () => {
          modalClose();
          modalWindow.classList.remove('active');
        });
      }
      // console.log('768px or less');
    } else {
      // PC
      headBannerClose();
      if (document.cookie.indexOf('tj_visited=first') === -1) {
        document.cookie = 'tj_visited=first; path=/' + ';expires=' + expireDate;
        window.addEventListener('load', () => {
          setTimeout(() => {
            modalOpen();
            modalWindow.classList.add('active');
          }, dispTime);
        });
      } else {
        window.addEventListener('load', () => {
          modalClose();
          modalWindow.classList.remove('active');
        });
      }
      // console.log('769px or more');
    }
  }

  mql.addEventListener('change', mqlChange);
  mqlChange(mql);

  modalBG.addEventListener('click', () => {
    headBannerClose();
    modalWindow.classList.add('active2');
    setTimeout(() => {
      modalClose();
      modalWindow.classList.remove('active');
      modalWindow.classList.remove('active2');
    }, 300);
  });

  modalCloseBtn.addEventListener('click', () => {
    headBannerClose();
    modalWindow.classList.add('active2');
    setTimeout(() => {
      modalClose();
      modalWindow.classList.remove('active');
      modalWindow.classList.remove('active2');
    }, 300);
  });

  headBannerCloseBtn.addEventListener('click', () => {
    headBannerClose();
  });

  headBannerModalOpen.addEventListener('click', () => {
    headBannerClose();
    modalOpen();
    modalWindow.classList.add('active');
  });

</script>
