<div class="container staticPages newsletter">
  <div class="post_row">
    <div class="post_main">
      <h1 class="staticPages_heading"><%= title t("static.newsletter.headline") %></h1>
      <div class="staticPages_contents">
        <p class="newsletter_desc"><%= t("static.newsletter.desc_html") %></p>

        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup" class="newsletter_form">
          <form action="https://tsunagujapan.us14.list-manage.com/subscribe/post?u=6da35f6f4dd68a271d78de7bc&amp;id=1e3d33644b&amp;f_id=00ee96e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="indicates-required"><span class="asterisk">*</span> <%= t("static.newsletter.required") %></div>
              <div class="mc-field-group">
                <label for="mce-EMAIL"><%= t("static.newsletter.form_label") %>  <span class="asterisk">*</span></label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="<%= t("static.newsletter.placeholder") %>" required>
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6da35f6f4dd68a271d78de7bc_1e3d33644b" tabindex="-1" value=""></div>
              <div class="clear newsletter_form-action"><input type="submit" value="<%= t("static.newsletter.button_label") %>" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
