<div class="container staticPages">
  <h1 class="staticPages_heading"><%= title t("static.privacy.headline") %></h1>
  <ul class="privacy_lists">
    <li><a href="#sec1"><%= t("static.privacy.section1.title") %></a></li>
    <li><a href="#sec2"><%= t("static.privacy.section2.title") %></a></li>
  </ul>
  <div class="staticPages_contents">
    <section id="sec1" class="privacy_sect">
      <h2 class="staticPages_subHeading"><%= t("static.privacy.section1.title") %></h2>
      <%= t("static.privacy.section1.text_html") %>
    </section>
    <section id="sec2" class="privacy_sect">
      <h2 class="staticPages_subHeading"><%= t("static.privacy.section2.title") %></h2>
      <%= t("static.privacy.section2.text_html") %>
    </section>
  </div>
</div>
