<%= render 'page_title' %>

<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Index <%= "filter by : #{params[:query]}" if params[:query] %></h2>
      <%= link_to new_admin_contact_path, class: "pull-right btn btn-default" do %>
      <i class="icon-note"></i> Add new
      <% end %>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table">
          <thead>
            <tr class="headings">
              <th class="column-title" style="width: 10%;">ID</th>
              <th class="column-title">Status</th>
              <th class="column-title">Name</th>
              <th class="column-title">Title</th>
              <th class="column-title">Created</th>
              <th class="column-title" colspan="3" style="width: 10%;">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @contacts.each do |contact| %>
            <tr class="<%= (contact.ignore? ? "pointer greyout_line" : "pointer") %>">
              <td><%= contact.id %></td>
              <td>
                <%= render :partial => 'status_icons', :locals => {:contact => contact} %>
              </i></td>
              <td><%= link_to contact.name, [:admin, contact] %></td>
              <td><%= link_to contact.title, [:admin, contact] %></td>
              <td><%= contact.created_at.strftime("%F %T") %></td>
              <td><%= link_to 'Show', [:admin, contact] %></td>
              <td><%= link_to 'Edit', edit_admin_contact_path(contact) %></td>
              <td><%= link_to 'Delete', [:admin, contact], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="paginate">
          <%= paginate @contacts %>
        </div>

      </div>
    </div>
  </div>
