<%= render 'page_title' %>

<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Show</h2>
      <%= link_to admin_areas_path, class: "pull-right btn btn-default" do %>
      <i class="icon-list"></i>
      Index
      <% end %>
      <%= link_to new_admin_area_path, class: "pull-right btn btn-default" do %>
      <i class="icon-note"></i> Add another
      <% end %>
      <%= link_to edit_admin_area_path(@area), class: "pull-right btn btn-info" do %>
      <i class="icon-pencil"></i>
      Edit
      <% end %>
      <%= link_to [:admin, @area], method: "DELETE", data: { confirm: "Are you sure?" }, class: "pull-right btn btn-danger" do %>
      <i class="icon-trash"></i>
      Delete
      <% end %>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>
    <h2>
      <%= @area.name %>
    </h2>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>
              ID
            </th>
            <td>
              <%= @area.id %>
            </td>
          </tr>
          <tr>
            <th>
              Articles count
            </th>
            <td>
              <%= @area.articles.count %>
            </td>
          </tr>
          <tr>
            <th>
              Created At
            </th>
            <td>
              <%= @area.created_at.strftime('%F %T') %>
            </td>
          </tr>
          <tr>
            <th>
              Updated At
            </th>
            <td>
              <%= @area.updated_at.strftime('%F %T') %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
