<%= form_for([:admin,top_page_sections_element]) do |f| %>
  <% if top_page_sections_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(top_page_sections_element.errors.count, "error") %> prohibited this top_page_sections_element from being saved:</h2>

      <ul>
      <% top_page_sections_element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label "Section" %>
    <%= f.collection_select(:top_page_section_id, TopPageSection.all, :id, :title) %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control" %>
  </div>
  <img src="<%=f.object.image.url(:original) %>" width='200' %>
  <%= f.file_field :image %>
     
  
  <div class="actions">
    <%= f.submit class: "btn btn-success pull-right" %>
    <% if top_page_sections_element.id != nil %>
    <%= link_to 'Destroy', delete_lang_admin_top_page_sections_element_path(top_page_sections_element)  , method: :delete, data: { confirm: 'Do you really want to delete this translation?' }, class: "btn btn-danger pull-right" %> 
    <%end%>
  </div>
<% end %>
