<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @top_page_sections_element.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @top_page_sections_element.link %>
</p>

<%= link_to 'Edit', edit_top_page_sections_element_path(@top_page_sections_element) %> |
<%= link_to 'Back', top_page_sections_elements_path %>
