<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Missing images</h2>
    </div>
    <div class="col-xs-12">
     <%= form_tag url_for,  :method => :get,:class => 'locale' do %>
     <div class="form-group">
        <label>Only has translation for </label>
        <%= select_tag 'only_locale',  options_for_select(I18n.available_locales, :selected => params[:only_locale]), :onchange => 'this.form.submit()' %>
      </div>
      <% end %>
      
    </div>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table">
          <thead>
            <tr class="headings">
              <th class="column-title">Article</th>
              <th class="column-title clickable-header" attr-href=<%=url_for params.merge(sort:'lang',asc:@asc=='true' && @sort=='lang' ? false : true).permit! %>>lang</th>
              <th class="column-title clickable-header" attr-href=<%=url_for params.merge(sort:'status',asc:@asc=='true' && @sort=='status' ? false : true).permit! %>>Status</th>
              <th class="column-title">Created</th>
              <th class="column-title">Action</th>
            </tr>
          </thead>

          <tbody data-role="activerecord_sortable">
            <% @all.each do |img| %>
              <% if !img.article.nil? %>
                <tr class="pointer" >
                  <td><%= link_to  img.article.title, show_articles_path({locale: img.locale, id: img.article.id}) %></td>
                  <td><%= img.locale %></td>
                  <td><%= img.article.is_translated[img.locale]%>
                  <td><%= img.created_at.strftime("%F %T") %></td>
                  <td><%= link_to 'Resolve', admin_missing_image_path(img), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="paginate">
          <%= paginate @all, views_prefix: 'admin' %>
          
        </div>
      </div>
    </div>
  </div>