<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Sidebar ads</h2>
      <%= link_to new_admin_tag_group_path, class: "pull-right btn btn-default" do %>
      <i class="icon-note"></i> Add new
      <% end %>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table">
          <thead>
            <tr class="headings">
            <th class="column-title">id</th>
              <th class="column-title">name</th>
              <th class="column-title">category</th>
              <th class="column-title" colspan="3" style="width: 10%;">Actions</th>
            </tr>
          </thead>

          <tbody  data-role="activerecord_sortable">
            <% @tg.each do |tg| %>
            <tr class="pointer" data-role="category<%= tg.id %>" data-move-url="<%= move_admin_tag_group_url(tg.id) %>" data-position="<%= tg.position %>">
              <td><%= tg.id %></td>
              <td><%= link_to tg.name, [:admin, tg] %></td>
              <td><%= tg.category.name unless tg.category.nil? %></td>
              <td><%= link_to 'Show', [:admin, tg] %></td>
              <td><%= link_to 'Edit', edit_admin_tag_group_path(tg) %></td>
              <td><%= link_to 'Delete', [:admin, tg], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<script type="text/javascript">
$(document).ready(function(){
  $('*[data-role=activerecord_sortable]').activerecord_sortable();
});
</script>