<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>tsunagu Japan</title>
  <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => :reload %>
  <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track' => :reload %>
</head>

<body class="nav-md <%= controller_name %> <%= action_name %>">
  <div class="container body">
    <div class="main_container">
      <%= render "admin/blocks/sidemenu" %>
      <%= render "admin/blocks/navbar" %>
      <div class="right_col" role="main" data-turbolinks-temporary>
        <div class="clearfix"></div>
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
      <%= render "admin/blocks/footer" %>
  </div>
  <%= render partial: 'admin/shared/ajax_modal' %>
</body>
</html>
