<!DOCTYPE html>
<html lang="<%= t('langAttribute') %>">
<head>
  <meta charset="UTF-8">
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
  <!-- Lighthouse Details -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#C50001">
  <%= canonical_tag -%>
  <%= render "shared/hreflang" %>
  <!-- CookieConsent CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.css">

  <%= stylesheet_pack_tag 'area_feature' %>
  <% if I18n.locale.to_s == "th" %>
    <%= stylesheet_pack_tag 'th_font' %>
  <% end %>
  <%= stylesheet_link_tag 'print', media: 'print' %>


  <%= render 'shared/favicon' %>
  <% if I18n.locale.to_s == 'ko' || I18n.locale.to_s == 'en' %>
    <meta name="naver-site-verification" content="26e17e4844190f65ebd4d223cc8aff61b2c65418" />
  <% end %>
  <script>
    var locales = "<%= I18n.locale %>"
    var availableLocale = <%= raw I18n.available_locales.to_json %>
  </script>

  <%= render partial: "shared/gtm_head" %>

  <% if I18n.locale.to_s == "ko" %>
    <%= render partial: "shared/naver_analytics" %>
  <% end %>

  <%= yield :head %>
</head>

<body class="<%= yield (:body_class) %> <%= I18n.locale %>" data-turbolinks="false">
<%= render partial: "shared/gtm_body" %>

  <%= render "shared/header" %>

  <%= yield %>
  <%= render "shared/footer" %>
  <%= yield :foot %>
  <%= render partial: "shared/cookieconsent" %>

  <%= javascript_packs_with_chunks_tag 'application', defer: true%>
  <%= javascript_include_tag 'application', 'defer' => true %>

  <%= render partial: "shared/analytics" %>
  <script src="/assets/area/feature/kyushu/js/jquery-3.3.1.min.js" data-turbolinks="false"></script>
  <script src="/assets/area/feature/kyushu/js/jquery.easing.1.3.js" data-turbolinks="false"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" data-turbolinks="false"></script>
  <script src="/assets/area/feature/kyushu/js/ofi.min.js" data-turbolinks="false"></script>
  <script src="/assets/area/feature/kyushu/js/picturefill.min.js" data-turbolinks="false"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.js" data-turbolinks="false"></script>
  <script>

      (function($) {
          $(function() {
              /* ---------------------------------------------------------
              slider
              ----------------------------------------------------------*/
              var mySwiper = new Swiper('.swiper-container', {
                  spaceBetween: 15,
                  loop: true,
                  loopedSlides: 6,
                  slidesPerView: 1.5,
                  centeredSlides: true,
                  navigation: {
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev'
                  },
                  autoplay: 4000,
                  breakpoints: {
                      992: {
                          slidesPerView: 2,
                      },
                      1200: {
                          slidesPerView: 2.5,
                      },
                      1600: {
                          slidesPerView: 3,
                      }
                  }
              });
              mySwiper.on('transitionEnd', function() {

                  var idx = mySwiper.realIndex + 1;
                  var num = ('00' + idx).slice(-2);
                  $('#service .num .now').text(num);
              });

              /* ---------------------------------------------------------
              pagetop
              ----------------------------------------------------------*/
              $('#nav-local a[href^="#"]').click(function(){
                  var speed = 800;
                  var href= $(this).attr("href");
                  var target = $(href == "#" || href == "" ? 'html' : href);
                  var position = target.offset().top;
                  $("html, body").animate({scrollTop:position}, {duration: speed, easing: "easeInOutCubic"});
                  return false;
              });
          });
      })(jQuery);
  </script>
</body>
</html>
